@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
    /*height: 100%;*/
}

body{
    background-image: linear-gradient(to right,#BBBFB4, #D9B4A7);
}

p {
    text-align: justify;
}

main{
    background-color: white;
    border-radius: 10px;
    width: 600px;
    padding: 10px;
    margin: auto;
    box-shadow: 5px 5px 15px rgba(39, 83, 83, 0.849);
}

h1{
    color: #387373;
    text-align: center;
    text-shadow: 1px 1px 2px #174949e0;
}

h2{
    color: #2D3E40;
}